* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: #212121;
}

a {
  text-decoration: none;
}

.section-divider {
  margin: 20px auto;
  max-width: 1665px;
  border-top: solid #6d6d6d 1px;
}
