.brand-section {
  padding-top: 70px;
}
.fix-title {
  padding-top: 7px;
}

.infinite-grid-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
}

.title-opacity {
  opacity: 1;
}
