.section-container {
  position: relative;
  margin: 0 auto;
  max-width: 1665px;
}

.container-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section-title {
  padding-top: 70px;
}
